<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
</head>
<body>
    <h3>Anasayfa</h3>
    <p>Burası anasayfadır.</p>

    <p>{{article.title}}</p>
    <p>{{article.body}}</p>
    <p>{{article.author}}</p>
    
    <!--
    <h3>Sayı</h3>
    <p>{{number}}</p>  Burada iki süslü parantez içinde eklediklerimiz python verisi, python verilerini eklerken bunu yapmamız gerekiyor.
    <p>{{number2}}</p>

    <p>{{article["title"]}}</p>
    <p>{{article["body"]}}</p>   Sözlük içindeki verilere böyle de erişebiliriz.
    <p>{{article["author"]}}</p>
    -->  
</body>
</html>